@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  font-size: 14px;
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track { 
    background: #131e2e;
    border-radius: 0.8rem;
}


::-webkit-scrollbar-thumb {
    background: #647428;
    width: 5px;
    border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
    background: #b3c961; 
}

.head {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
}
    